.DS_Store
.env
.env.*
local.env
*.env.local
*.sqlite3
celerybeat-schedule
*.db
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.venv/
venv/

# Django
staticfiles/
media/

# Node / frontend (futuro)
node_modules/
dist/
build/
.next/
out/
.turbo/

# IDEs
.idea/
.vscode/
