services:
  web:
    build:
      context: ..
      target: dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ../src:/app/src:delegated
      - ../manage.py:/app/manage.py:delegated
      - ../requirements:/app/requirements:delegated
      - ../tests:/app/tests:delegated
    ports:
      - "${DJANGO_PORT:-8000}:8000"
    env_file:
      - ../env/.env
    depends_on:
      - postgres
      - redis
      - minio
      - mailpit

  frontend:
    build:
      context: ../frontend
      target: dev
    command: npm run dev -- --hostname 0.0.0.0 --port 3000
    volumes:
      - ../frontend:/app:delegated
      - /app/node_modules
      - /app/.next
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    environment:
      DJANGO_BASE_URL: http://web:8000
      NEXT_TELEMETRY_DISABLED: "1"
      WATCHPACK_POLLING: "true"
    depends_on:
      - web

  worker:
    build:
      context: ..
      target: dev
    command: celery -A config.celery worker -l info
    volumes:
      - ../src:/app/src:delegated
      - ../manage.py:/app/manage.py:delegated
      - ../requirements:/app/requirements:delegated
    env_file:
      - ../env/.env
    depends_on:
      - postgres
      - redis

  beat:
    build:
      context: ..
      target: dev
    command: celery -A config.celery beat -l info
    volumes:
      - ../src:/app/src:delegated
      - ../manage.py:/app/manage.py:delegated
      - ../requirements:/app/requirements:delegated
    env_file:
      - ../env/.env
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: acme_saas
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    ports:
      - "${MINIO_API_PORT:-9000}:9000"
      - "${MINIO_CONSOLE_PORT:-9001}:9001"

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  postgres_data:
  minio_data:
